{% load static %}
<!doctype html>
<html lang="en">
        <head>
            <title>MEADE</title>
            <link rel="stylesheet" href="{% static 'MEADE/style.css' %}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        </head>
        <body>
            <h1>MEADE</h1>
            <p>Pizzeria and more</p>

            <nav class="navbar navbar-expand-lg ">
            <div class= "container-fluid">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#Menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Order Food">Order Food</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Gallery">Gallery</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <section id="Menu" class="Menu">
                <h5 style="padding-left:3%">Meade Restaurant Menu</h5>
                <a href="https://drive.google.com/drive/folders/1WXGWRKrrJkO8n5iMMwo-a4CjmD52YELw?usp=sharing">
                    <img src="{% static 'MEADE/images/2.jpeg' %}" alt="1" style="padding-left: 5%; width:300px;">
                </a>
            </section>

            <section id="Order Food" class="Order Food">
                <h5 style="padding: 3% 0% 1% 3%">All food</h5>
                

                <div class="container mx-auto">
                    <div class="row">
                    <div class="col-md-3">
                        <div class="box">
                        <img src="{% static 'MEADE/images/4.jpeg' %}" style="width: 250px; height:250px">
                        <div>
                            <h6 class="mb-4 text-lg" style="text-align:center">Pizza </h6>
                            <p class="py-1 px-4 rounded-full uppercase text-xs" style="text-align:center">small</p>
                            <div class="d-flex justify-content-between">
                                <div><p>$300</p></div>
                                <div><button style="border-radius: 2cm; color:red">+ Add</button></div>
                            </div>
                        </div>
                        </div>  
                    </div>
                    <div class="col-md-3">
                        <div class="box">
                        <img src="{% static 'MEADE/images/5.jpeg' %}" style="width: 250px; height:250px">
                        <div>
                            <h6 class="mb-4 text-lg" style="text-align:center">Burger </h6>
                            <p class="py-1 px-4 rounded-full uppercase text-xs" style="text-align:center">small</p>
                            <div class="d-flex justify-content-between">
                                <div><p>$200</p></div>
                                <div><button style="border-radius: 2cm; color:red">+ Add</button></div>
                            </div>
                        </div>
                        </div>  
                    </div>
                    <div class="col-md-3">
                        <div class="box">
                        <img src="{% static 'MEADE/images/1.jpeg' %}" style="width: 250px; height:250px">
                        <div>
                            <h6 class="mb-4 text-lg" style="text-align:center">Pizza and milkshake</h6>
                            <p class="py-1 px-4 rounded-full uppercase text-xs" style="text-align:center">Medium</p>
                            <div class="d-flex justify-content-between">
                                <div><p>$400</p></div>
                                <div><button style="border-radius: 2cm; color:red">+ Add</button></div>
                            </div>
                        </div>
                        </div>  
                    </div>
                    <div class="col-md-3">
                        <div class="box">
                        <img src="{% static 'MEADE/images/7.jpeg' %}" style="width: 250px; height:250px">
                        <div>
                            <h6 class="mb-4 text-lg" style="text-align:center">Corn Pizza </h6>
                            <p class="py-1 px-4 rounded-full uppercase text-xs" style="text-align:center">small</p>
                            <div class="d-flex justify-content-between">
                                <div><p>$200</p></div>
                                <div><button style="border-radius: 2cm; color:red">+ Add</button></div>
                            </div>
                        </div>
                        </div>  
                    </div>
                    </div>
                </div>
                
            </section>

            <section id="Gallery" class="Gallery">
                <h5 style="padding: 3% 0% 1% 3%">Photos</h5>
                <div class="container mx-auto">
                    <div class="row">
                    <div class="col-md-3">
                        <div class="gallery-box">
                        <img src="{% static 'MEADE/images/4.jpeg' %}" style="width: 250px; height:250px">
                        </div>  
                    </div>
                    <div class="col-md-3">
                        <div class="gallery-box">
                        <img src="{% static 'MEADE/images/5.jpeg' %}" style="width: 250px; height:250px">
                        </div>  
                    </div>
                    <div class="col-md-3">
                        <div class="gallery-box">
                        <img src="{% static 'MEADE/images/1.jpeg' %}" style="width: 250px; height:250px">
                        </div>  
                    </div>
                    <div class="col-md-3">
                        <div class="gallery-box">
                        <img src="{% static 'MEADE/images/7.jpeg' %}" style="width: 250px; height:250px">
                        </div>  
                    </div>
                    </div>
                </div>
                
            </section>

            
                
            
        </body>

</html>