
.buttons{
    text-align:right;
    padding-top: 2%;
}

.features h1{
    padding: 30px 60px 30px 120px ;
    text-align: left;
    font-size: 30px;
}
.feature-img  img{
    width: 100%;
}
.features .fa{
    font-size: 15px;
    color: rgb(233, 40, 40);
}
.feature-details{
    color: black;
    
}
a :hover{
    text-decoration: none;
}
a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
a:active {
    text-decoration: none;
  }